* {
  box-sizing: border-box;
}

body {
  font: 400 1rem 'PT Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.container {
  max-width: 1114px;
  padding: 0 15px;
  margin: auto;
}

.btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 16px 30px;
}

.btn-default {
  width: auto;
  background: linear-gradient(
  90deg,
  #0cebeb 0%,
  #20e3b2 50%,
  #29ffc6 100%
  );
  box-shadow: 0px 4px 20px rgba(32, 228, 179, 0.85);
  border-radius: 30px;
  color: #fff;
}

.slicknav_menu {
  display: none;
}

.header {
  padding: 40px 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.main {
  background: url('../img/inner-bg.png') no-repeat, url('../img/footer-bg.png') no-repeat bottom;
  background-size: contain;
}

.main-header-nav {
  color: #fff;
  font-weight: 700;
  margin-left: 66px;
}

.main-header-nav a + a, .info-header-nav a + a {
  margin-left: 30px;
}

.info-header-nav {
  color: #fff;
  margin-left: 425px;
}

.inner {
  padding-top: 106px;
  height: 930px;
}

.inner-call-to-action {
  max-width: 610px;
  position: relative;
}

.inner-call-to-action::after {
  content: '';
  width: 658px;
  height: 571px;
  background: url('../img/inner-picture.svg') no-repeat;
  position: absolute;
  top: -55px;
  right: -600px;
}

.inner-call-title {
  font-size: 3.43rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.29;
  margin-top: 55px;
  z-index: 1;
}

.inner-call-text {
  font-size: 1.28rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.33;
  margin-top: 20px;
  margin-bottom: 45px;
  max-width: 385px;
}

.inner-call-text > span {
  color: #fff;
  font-weight: 700;
}

.test-your-email {
  display: inline-block;
}

.email-not-required {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 1.71;
  margin-top: 15px;
  text-align: center;
}

.email-not-required span {
  margin-left: 15px;
}

.inner-services-wrap {
  margin: 0;
}

.email-providers {
  max-width: 600px;
  width: 100%;
}

.email-providers-title {
  color: #27debf;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.email-providers-text {
  font-size: 2.57rem;
  font-weight: 700;
  line-height: 1.3;
  color: #29375a;
}

.inner-services-list-item {
  width: 164px;
  height: 164px;
  cursor: pointer;
}

.inner-services-list-item + .inner-services-list-item {
  margin-left: 10px;
}

.inner-services-list-item:hover {
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(2, 71, 149, 0.15);
  border-radius: 4px;
}

@media (max-width: 1199px) {
  .info-header-nav {
    margin-left: 300px;
  }

  .inner-call-to-action::after {
    left: 600px;
    top: 50px;
    background-size: 350px;
  }

  .email-not-required {
    color: #29375a;
  }

  .inner {
    max-height: 700px;
  }
}

@media (max-width: 991px) {
  .container{
    padding: 0 25px;
  }

  .inner {
    padding-top: 86px;
  }

  .gradient-bg {
    background: linear-gradient(
    to bottom,
    #0072FF 0%,
    #fff 100%
    );
  }

  .main {
    background: none;
  }

  .header {
    padding: 30px 0;
  }

  .main-header-nav{
    margin-left: 46px;
  }

  .main-header-nav a + a, .info-header-nav a + a {
    margin-left: 20px;
  }

  .info-header-nav {
    margin-left: 100px;
  }

  .inner-call-to-action::after {
    left: 400px;
    top: 50px;
    background-size: 350px;
  }

  .inner-call-title {
    font-size: 3rem;
    font-weight: 400;
    color: #29375a;
    margin-top: 30px;
  }

  .inner-call-text {
    font-size: 1rem;
    color: #29375a;
    margin-bottom: 25px;
  }

  .inner-call-text > span {
    color: #0cebeb;
  }

  .email-not-required {
    color: #29375a;
  }

  .inner {
    max-height: 550px;
  }

  .email-providers-text {
    font-size: 2.07rem;
  }

  .inner-services-list-item {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .slicknav_menu {
    display: block;
    margin-left: auto;
  }

  .header-nav {
    display: none;
  }

  .inner-call-to-action::after {
    display: none;
  }

  .main-header-nav {
    margin: 0;
    text-align: right;
    font-weight: 400;
  }

  .info-header-nav {
    margin: 0;
    text-align: right;
    font-weight: 400;
  }

  .inner-call-to-action {
    margin-top: 20px;
  }

  .inner-call-title {
    font-size: 2.0rem;
  }

  .email-not-required {
    font-size: 0.7rem;
  }

  .inner {
    max-height: 450px;
  }

  .btn {
    font-size: 0.5rem;
    padding: 10px 24px;
  }

  .email-providers-text {
    font-size: 1.07rem;
  }

  .inner-services-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 479px) {
  .inner {
    max-height: 480px;
  }
}
