* {
  box-sizing: border-box;
}

body {
  font: 400 1rem 'PT Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.container {
  max-width: 1114px;
  padding: 0 15px;
  margin: auto;
}

.btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 16px 30px;
}

.btn-default {
  width: auto;
  background: linear-gradient(
  90deg,
  #0cebeb 0%,
  #20e3b2 50%,
  #29ffc6 100%
  );
  box-shadow: 0px 4px 20px rgba(32, 228, 179, 0.85);
  border-radius: 30px;
  color: #fff;
}

.slicknav_menu {
  display: none;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@-webkit-keyframes hvr-pulse-shrink {
  to {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  }
}

@keyframes hvr-pulse-shrink {
  to {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  }
}

.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.hvr-bounce-to-top {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}

.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.header {
  padding: 40px 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header-nav {
  flex-grow: 1;
  cursor: pointer;
}

.main {
  background: url('../img/inner-bg.png') no-repeat, url('../img/footer-bg.png') no-repeat right bottom;
  background-size: 90% 56%, auto;
}

.main-header-nav {
  color: #fff;
  font-weight: 700;
  margin-left: 66px;
}

.main-header-nav a + a, .info-header-nav a + a {
  margin-left: 30px;
}

.info-header-nav {
  color: #fff;
  margin-left: auto;
}

.inner {
  height: 670px;
  margin-bottom: 150px;
}

.inner-call-to-action {
  max-width: 610px;
  padding-top: 106px;
  position: relative;
}

.inner-call-to-action::after {
  content: '';
  width: 658px;
  height: 571px;
  background: url('../img/inner-picture.svg') no-repeat;
  position: absolute;
  top: 110px;
  right: -600px;
  opacity: 0;
  animation: opacity 0.2s ease-in-out 300ms forwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inner-call-title {
  font-size: 3.43rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.29;
  margin-top: 55px;
  margin-bottom: 20px;
  z-index: 1;
}

.inner-call-text {
  font-size: 1.28rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.33;
  margin-bottom: 45px;
  max-width: 425px;
}

.inner-call-text > span {
  color: #fff;
  font-weight: 700;
}

.test-your-email {
  display: inline-block;
}

.email-not-required {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 1.71;
  margin-top: 15px;
  text-align: center;
}

.email-not-required span {
  margin-left: 15px;
}

.inner-services-wrap {
  margin: 0;
}

.email-providers {
  max-width: 600px;
  width: 100%;
}

.email-providers-title {
  color: #27debf;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.email-providers-text {
  font-size: 2.57rem;
  font-weight: 700;
  line-height: 1.3;
  color: #29375a;
}

.inner-services-list-item {
  width: 164px;
  height: 164px;
  cursor: pointer;
}

.inner-services-list-item + .inner-services-list-item {
  margin-left: 10px;
}

.inner-services-list-item:hover {
  box-shadow: 0px 2px 15px rgba(2, 71, 149, 0.15);
  border-radius: 4px;
}

@media (max-width: 1199px) {
  .inner-call-to-action::after {
    left: 600px;
    top: 100px;
    background-size: 350px;
  }

  .email-not-required {
    color: #29375a;
  }

  .inner {
    max-height: 700px;
  }
}

@media (max-width: 991px) {
  .container{
    padding: 0 25px;
  }

  .inner {
    padding-top: 86px;
  }

  .gradient-bg {
    background: linear-gradient(
    to bottom,
    #0072FF 0%,
    #fff 100%
    );
  }

  .main {
    background: none;
  }

  .header {
    padding: 30px 0;
  }

  .main-header-nav{
    margin-left: 46px;
  }

  .main-header-nav a + a, .info-header-nav a + a {
    margin-left: 20px;
  }

  .inner-call-to-action::after {
    left: 550px;
    top: 110px;
    background-size: 350px;
  }

  .inner-call-title {
    font-size: 3rem;
    font-weight: 400;
    color: #29375a;
    margin-top: 30px;
  }

  .inner-call-text {
    font-size: 1rem;
    color: #29375a;
    margin-bottom: 25px;
  }

  .inner-call-text > span {
    color: #0cebeb;
  }

  .email-not-required {
    color: #29375a;
  }

  .inner {
    max-height: 550px;
  }

  .email-providers-text {
    font-size: 2.07rem;
  }

  .inner-services-list-item {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .slicknav_menu {
    display: block;
    margin-left: auto;
  }

  .header-nav {
    display: none;
  }

  .inner-call-to-action::after {
    display: none;
  }

  .main-header-nav {
    margin: 0;
    text-align: right;
    font-weight: 400;
  }

  .info-header-nav {
    margin: 0;
    text-align: right;
    font-weight: 400;
  }

  .inner-call-to-action {
    margin-top: 20px;
  }

  .inner-call-title {
    font-size: 2.0rem;
  }

  .email-not-required {
    font-size: 0.7rem;
  }

  .inner {
    max-height: 450px;
  }

  .btn {
    font-size: 0.5rem;
    padding: 10px 24px;
  }

  .email-providers-text {
    font-size: 1.07rem;
  }

  .inner-services-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 479px) {
  .inner {
    max-height: 480px;
  }
}
